<h1><%= currentUser.name_first %>'s Profile</h1>
<h2>User's full name: <%= currentUser.name_first %>  <%= currentUser.name_last %></h2>
<% function language(e){%>
  <% let speech %>
  <% if(e == 2){ %>
    <% speech = 'English' %>
    <% } else {%>
    <%  speech = 'Deutsch' %>
    <% }%>
    <%= speech %> 
<% } %>

<h2><%= currentUser.name_first %> speaks: <% language(currentUser.language) %></h2>

<h2><%= currentUser.name_first %>'s gender: <%= currentUser.gender %></h2>

<h2><%= currentUser.name_first %>'s email address: <%= currentUser.email %></h2>
<form action="/auth/update">
  <label for="updateButton">Information out-of-date? Click the button below to update your profile.</label>
  <input name="updateButton" type="submit" value="Update"></input>
</form>