<h1>Exercise Search</h1>

<%= exercise.name %> 
<ul>
  <% if(exercise.description){ %>
    <li><%- exercise.description %></li>
  <% } %> 
  <% if(exercise.muscles.length > 0){ %>
    <li><%= exercise.muscles %></li>
  <% } %> 
  <% if(exercise.muscles_secondary.length > 0){ %>
    <li><%= exercise.muscles_secondary %></li>
  <% } %> 
</ul>

<form method="POST" action="/exercise/search">
  <input hidden type="text" name="name" value="<%= exercise.name %>">
  <input hidden type="text" name="exerciseMuscles" value="<%= exercise.muscles %>">
  <input hidden type="text" name="exerciseDescription" value="<%= exercise.description %>">
  <input hidden type="text" name="apiId" value="<%= exercise.id %>">
  <input hidden type="text" name="language" value="<%= exercise.language %>">
  <button class="btn btn-primary" type="submit">Add to Favorite Exercise List</button>
</form>