<h1>Exercise Search</h1>

<%= exercise.name %> 
<ul>
  <% if(exercise.description){ %>
    <li><%- exercise.description %></li>
  <% } %> 
  <% if(exercise.muscles.length > 0){ %>
    <li><%= exercise.muscles %></li>
  <% } %> 
  <% if(exercise.muscles_secondary.length > 0){ %>
    <li><%= exercise.muscles_secondary %></li>
  <% } %> 
</ul>

<form method="POST" action="/exercise/<%= exercise.id %>">
  <input hidden type="text" name="name" value="<%= exercise.name %>">
  <input hidden type="text" name="exerciseMuscle" value="<%= exercise.muscles %>">
  <input hidden type="text" name="exerciseDescription" value="<%= exercise.description %>">
  <input hidden type="text" name="apiId" value="<%= exercise.id %>">
  <input hidden type="text" name="exerciseLanguage" value="<%= exercise.language %>">
  <button class="btn btn-primary" type="submit">Add to Favorite Exercise List</button>
</form>
<form name="comment" method="POST" action="/exercise/<%= exercise.id %>/comment">
  <input hidden type="integer" name="userId" value="<%= currentUser.id %>">
  <input hidden type="integer" name="exerciseId" value="<%= exercise.id %>">

  <label for="comment">Exercise Review. Please leave tips, comments or concerns</label>
  <input type="text" name="comment">
  <input type="submit">
</form>

<h3>Here's what others had to say about this exercise</h3>
<ol>
  <% if(comment) { %>
  <% comment.forEach(myComment =>{ %>
    <li><%= currentUser.name_first %> <%= currentUser.name_last %>, <%= myComment.comment %></li>
    <form action="/exercise/<%= exercise.id%>/comment/?_method=DELETE" method="POST">
      <input hidden type="integer" name="exerciseId" value="<%= exercise.id %>">
      <input hidden type="integer" name="commentId" value="<%= myComment.id%>">
      <input type="submit" value="Delete">
    </form>
  <% }) %>
<% } %>
</ol>