<h1>Exercise Search</h1>

<% function muscleName(e) { %>
  <% e.forEach(muscle =>{ %>
    <% if(muscle == 1){ %>
      <% muscle = 'Biceps Brachii' %>
      -<%= muscle %>
    <% } else if(muscle == 2){ %>
      <% muscle = 'Anterior Deltoids' %>
      -<%= muscle %>
    <% } else if(muscle == 3){ %>
      <% muscle = 'Serratus Anterior' %>
      -<%=  muscle %>
    <% } else if(muscle == 4){ %>
      <% muscle = 'Pectoralis Major' %>
      -<%=  muscle %>
    <% } else if(muscle == 5){ %>
      <% muscle = 'Triceps Brachii' %>
      -<%=  muscle %>
    <% } else if(muscle == 6){ %>
      <% muscle = 'Rectus Abdominus' %>
      -<%=  muscle %>
    <% } else if(muscle == 7){ %>
      <% muscle = 'Gastrocnemius' %>
      -<%=  muscle %>
    <% } else if(muscle == 8){ %>
      <% muscle = 'Gluteus Maximus' %>
      -<%=  muscle %>
    <% } else if(muscle == 9){ %>
      <% muscle = 'Trapezius' %>
      -<%=  muscle %>
    <% } else if(muscle == 10){ %>
      <% muscle = 'Quadraceps Femoris' %>
      -<%=  muscle %>
    <% } else if(muscle == 11){ %>
      <% muscle = 'Biceps Femoris' %>
      -<%=  muscle %>
    <% } else if(muscle == 12){ %>
      <% muscle = 'Latissimus Dorsi' %>
      -<%=  muscle %>
    <% } else if(muscle == 13){ %>
      <% muscle = 'Brachialis' %>
      -<%=  muscle %>
    <% } else if(muscle == 14){ %>
      <% muscle = 'Obliques Externus Abdominus' %>
      -<%=  muscle %>
    <% } else if(muscle == 15){ %>
      <% muscle = 'Soleus' %>
      -<%=  muscle %>
      <% } %>
  <% }) %>
<% } %> 

<h2><%= exercise.name %></h2>

<ul>
  <% if(exercise.description){ %>
    <h4><%- exercise.description %></h4>
  <% } %> 
  <% if(exercise.muscles.length > 0){ %>
    <h5>Primary Muscles: <% muscleName(exercise.muscles) %></h5>
  <% } %> 
  <% if(exercise.muscles_secondary.length > 0){ %>
    <h5>Secondary Muscles: <% muscleName(exercise.muscles_secondary) %></h5>
  <% } %> 
</ul>

<form method="POST" action="/exercise/<%= exercise.id %>">
  <input hidden type="text" name="name" value="<%= exercise.name %>">
  <input hidden type="text" name="exerciseMuscle" value="<%= exercise.muscles %>">
  <input hidden type="text" name="exerciseDescription" value="<%= exercise.description %>">
  <input hidden type="text" name="apiId" value="<%= exercise.id %>">
  <input hidden type="text" name="exerciseLanguage" value="<%= exercise.language %>">
  <button class="btn btn-primary" type="submit">Add to Favorite Exercise List</button>
</form>
<form name="comment" method="POST" action="/exercise/<%= exercise.id %>/comment">
  <input hidden type="integer" name="userId" value="<%= currentUser.id %>">
  <% console.log("Beef", currentUser.id) %> 
  <input hidden type="integer" name="exerciseId" value="<%= exercise.id %>">
  <% console.log("Pork", exercise.id) %> 
  <label for="comment">Exercise Review. Please leave tips, comments or concerns</label>
  <input type="text" name="comment">
  <input type="submit">
</form>

<h3>Here's what others had to say about this exercise</h3>
<ol>
  <% if(comment) { %>
  <% comment.forEach(myComment =>{ %>
    <% console.log("turkey", myComment.userId) %> 
    <li><%= currentUser.name_first %> <%= currentUser.name_last %>, <%= myComment.comment %></li>
    <% console.log("brownies", currentUser.id) %> 
    <% if(currentUser.id === myComment.userId){ %>
      <form action="/exercise/<%= exercise.id%>/comment/?_method=DELETE" method="POST">
        <input hidden type="integer" name="exerciseId" value="<%= exercise.id %>">
        <input hidden type="integer" name="commentId" value="<%= myComment.id%>">
        <input type="submit" value="Delete">
      </form>
    <% } %>
  <% }) %>
<% } %>
</ol>