<h1>Exercise Search</h1>

<%= exercise.name %> 
<ul>
  <% if(exercise.description){ %>
    <li><%- exercise.description %></li>
  <% } %> 
  <% if(exercise.muscles.length > 0){ %>
    <li><%= exercise.muscles %></li>
  <% } %> 
  <% if(exercise.muscles_secondary.length > 0){ %>
    <li><%= exercise.muscles_secondary %></li>
  <% } %> 
</ul>

<form method="POST" action="/exercise/<%= exercise.id %>">
  <input hidden type="text" name="name" value="<%= exercise.name %>">
  <input hidden type="text" name="exerciseMuscle" value="<%= exercise.muscles %>">
  <input hidden type="text" name="exerciseDescription" value="<%= exercise.description %>">
  <input hidden type="text" name="apiId" value="<%= exercise.id %>">
  <input hidden type="text" name="exerciseLanguage" value="<%= exercise.language %>">
  <button class="btn btn-primary" type="submit">Add to Favorite Exercise List</button>
</form>
<form name="comment" method="POST" action="/exercise/<%= exercise.id %>/comment">
  <input hidden type="integer" name="userId" value="<%= currentUser.id %>">
  <input hidden type="integer" name="exerciseId" value="<%= exercise.id %>">

  <label for="comment">Exercise Review. Please leave tips, comments or concerns</label>
  <input type="text" name="comment">
  <input type="submit">
</form>
<form name="submittedComments">
  <label for="submittedComments">Here's what others had to say about this exercise</label>
  <ol>
    <% if(exercise.comment) %>
    <% comment.forEach(c =>{ %>
    <li><%= user.name_first%> <%= user.name_last %><% comment.comment %> </li>>
    <form action="/exercise/<%= exercise.id %>/comment" method="PUT">
      <input type="submit" value="Update">
    </form>
    <form action="/exercise/<%= exercise.id%>/comment/?_method=DELETE" method="POST">
      <input type="submit" value="Delete">
    </form>
    <% }) %>
  </ol>
</form>